h1 {
    color: aqua;
}

.header{
    display: flex;
    justify-content: space-between;
}

.hamburger{
    display: flex;
    flex-direction: column;
}
.menu{
    /* display: none; */
}
.menu-list{
    list-style:none;
}